# App
APP_PORT=8080
MODE=live                # live | test
EXCHANGES=exchange1:40101,exchange2:40102,exchange3:40103
PAIRS=BTCUSDT,DOGEUSDT,TONUSDT,SOLUSDT,ETHUSDT

# PostgreSQL
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB=marketflow
PG_HOST=postgres
PG_PORT=5432
PG_SSLMODE=disable
POSTGRES_DSN=postgres://postgres:postgres@postgres:5432/marketflow?sslmode=disable

# Redis
REDIS_ADDR=redis:6379
REDIS_PASS=
REDIS_DB=0
